@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap";

* {
    box-sizing: border-box;
}


body, html {
    font-family: Montserrat, sans-serif;
    font-weight: 400;

    scroll-behavior: smooth
}

body.overlay--open, html.overlay--open {
    overflow: hidden
}

body, html, ol, ul {
    padding: 0;
    margin: 0
}

button {
    padding: 0;
    outline: 0
}

button, input, textarea {
    font-family: Montserrat, sans-serif;
    font-weight: 400
}

a {
    text-decoration: none;
    cursor: pointer
}

.center {
    max-width: 1210px;
    margin: 0 auto
}

@media(max-width:1440px) {
    .center {
        max-width: 1120px
    }
}

.image {
    width: 100%;
    position: relative;
    overflow: hidden
}

.siteHeader {
    background-color: #fff;
    padding: 15px 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    top: 0;
    left: 0;
    width: 100%;
    z-index: 222;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .07);
    overflow-x: hidden;

}

@media(max-width:840px) {
    .siteHeader {
        padding: 15px 35px
    }
}

@media(max-width:550px) {
    .siteHeader {
        padding: 20px 10px;
        justify-content: space-between;
        background: #fff;
        height: 100px
    }
}

.siteHeader__Logo {
    width: 200px;
    margin-right: 80px;

}

.siteHeader__Logo img {
    width: 100%
}

@media(max-width:840px) {
    .siteHeader__Logo {
        width: 180px;
    }
}

.txt-logo {
    color: #502772;
    width: max-content;
    font-weight: 700;
    font-size: 85%;
}

.siteHeader__Button {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

}

@media(max-width:365px) {
    .siteHeader__Button .button, .siteHeader__Button .button--alt, .siteHeader__Button .button--dark-bg, .siteHeader__Button .button--white, .siteHeader__Button .form-back-button {
        padding: 13px;
        font-size: 12px
    }
}

@media screen and (max-width:1267px) {
    .siteHeader__Button .button, .siteHeader__Button .button--alt, .siteHeader__Button .button--dark-bg, .siteHeader__Button .button--white, .siteHeader__Button .form-back-button {
        order: 1;
        margin-right: 16px
    }
}

.navbar {
    margin-right: 16px
}

@media screen and (max-width:1267px) {
    .navbar {
        order: 2;
        margin-right: 0
    }
}



.nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all .25s ease-in;
    align-items: center;
}

@media screen and (max-width:1267px) {
    .nav-menu {
        display: none;
    }

    .menu-active .nav-menu {
        opacity: 1
    }
}

.nav-menu .menu-item a {
    color: #502772;
    font-size: 22px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    display: block;
    line-height: 30px;
    margin: 0 15px;
    text-decoration: none;

}

.nav-menu .menu-item a:hover {
    color: #5d2e85;
    text-decoration: underline
}

@media screen and (max-width:1267px) {
    .nav-menu .menu-item a {
        margin: 8px
    }
}

.nav__link:hover+.sub-nav {
    display: block
}

.sub-nav:hover {
    display: block
}

.user-image {

    padding-left: 35px;
    cursor: pointer;
}

.purple {
    color: #502772
}

.upisi-se {
    padding: 10px 35px;
    border-radius: 60px;
    background-color: #502772;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #fff;

    cursor: pointer
}

.upisi-se:hover {
    background-color: #01e1bf;
    color: #502772;
    margin-right: 10px;
}

.online-upis {
    padding: 10px 20px;
    border-radius: 60px;
    background-color: #01e1bf;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #502772;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    
}

@media(max-width:840px) {
    .online-upis {
        margin-left: 130px;
    }
}

.online-upis:hover {
    background-color: #502772;
    color: #fff
}

.button svg, .button--alt svg, .button--dark-bg svg, .button--white svg, .form-back-button svg {
    width: 30px
}

.button svg path, .button--alt svg path, .button--dark-bg svg path, .button--white svg path, .form-back-button svg path {
    -webkit-transition: .3s;
    transition: .3s
}

@media(max-width:840px) {
    .button svg, .button--alt svg, .button--dark-bg svg, .button--white svg, .form-back-button svg {
        width: 20px
    }
}

.button--alt:hover, .button--dark-bg:hover, .button--white:hover, .button:hover, .form-back-button:hover {
    background-color: #502772;
    color: #fff
}

.button--alt:hover svg path, .button--dark-bg:hover svg path, .button--white:hover svg path, .button:hover svg path, .form-back-button:hover svg path {
    stroke: #fff
}

@media(max-width:840px) {
    .button, .button--alt, .button--dark-bg, .button--white, .form-back-button {
        padding: 13px 20px;
        font-size: 14px
    }
}

.left-padding {
    padding-left: 170px;

}

.top-lady {
    width: 50%;
    height: auto;
    background-image: url(./assets/top-ladyBG.png);
    background-repeat: no-repeat;
    background-position: right 0 top -20px;
    background-size: 100%;
    padding: 40px;
}

.intro__Left {
    position: relative;
    text-align: left;
    display: flex;
}

.intro__Left__text {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 50%;
    height: auto;
margin-top: 140px;
}



.intro__Left__bubbles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--buttonMarginHero)
}

.intro__Left .intro__zenLady {
    position: absolute;
    bottom: -5%;
    right: 2%;
    width: calc(50% - 50px)
}

.intro__Left h2 {
    color: #502772;
    margin: calc(var(--fontSizeHeroTitle)/2) 0 0;
    position: relative;
    z-index: 1;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 100%;
    display: inline-block
}

.intro__Left h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #502772;
    margin: var(--buttonMarginHero) 0 0
}

.intro__Left button {
    margin: var(--buttonMarginHero) 0
}

.intro__Left p {
    max-width: 570px;
    margin: 0 0 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #444
}

.intro__Left p strong {
    font-weight: 800;
    color: #502772
}

.intro__Left p:last-of-type {
    margin-bottom: 80px
}

@media(max-width:840px) {
    .intro__Left p:last-of-type {
        margin-bottom: 30px
    }
}

@media(max-width:840px) {
    .intro__Left p {
        margin: 0 0 10px;
        max-width: 600px;
        font-size: 16px
    }
}

.intro__Left ol {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.intro__Left ol li {
    margin-bottom: .5rem
}

@media(max-width:850px) {
    .upisi-se {
        margin-left:auto;
        margin-right: auto;
    }
    .intro__Left {
        flex-direction: column-reverse;
        overflow: hidden;
        
    }

    .intro__Left__text {
        width: 100%;
        
    }

    .intro__Left__text h2 {
        font-size: 96px;
        margin-left:55px;
        
    }

    .intro__Left__text h3  {
        font-size: 36px;
        margin-left:55px;
       margin-top: 30px;
    }

    .intro__Left__text p  {
        font-size:24px;
       
    }

    .top-lady {
        margin-left: -40px;
        background-size: 90%;
        background-position: right 5px top -30px;
        width: 113%;
        overflow: visible;
    }

    .left-padding {
        padding-left: 10px;
        
    }



}